<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
      <div class="media d-flex align-items-center"><img class="image" src="../../assets/hackathon-logo.png">
        <div class="media-body">
          <h4 class="m-0">Gestion des hackatons</h4>
          <p class="font-weight-light text-muted mb-0">Innover, c’est facile. La difficulté, c’ est de transformer une innovation en un vrai business.</p>
        </div>
      </div>
    </div>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
          
        <a  routerLink="/listEvent" class="nav-link text-dark font-italic ">
                  <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                  Listes des hackatons
              </a>
      </li>

   
      <li class="nav-item">
        <a routerLink="historique" class="nav-link text-dark font-italic">
                  <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                  Calendrier
              </a>
      </li>
   
    </ul>
    <br><br>
    <div *ngIf="isAdmin()">
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Admin</p>
    <ul class="nav flex-column bg-white mb-0">

      
      <li class="nav-item">
        <a routerLink="/newEvent" class="nav-link text-dark font-italic ">
                  <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                  Création d'un hackaton
              </a>
      </li>
      <li class="nav-item">
        <a routerLink="/MesEvent" class="nav-link text-dark font-italic">
                  <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                  Mes hackatons
              </a>
      </li>
      <li class="nav-item">
        <a routerLink="/Statistiques" class="nav-link text-dark font-italic">
                  <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                  Statistiques
              </a>
      </li>
      <li class="nav-item">
        <a routerLink="/mesDemands" class="nav-link text-dark font-italic">
                  <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                  Gestion des demandes
              </a>
      </li>
   
    </ul>
  </div>
  </div>
  <!-- End vertical navbar -->