<div class="head">

</div>
<br><br>
<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Demande de Participation</div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">Votre niveau</label>
                                <div class="col-md-6">
                                    <div class="form-group">
                                    
                                        <select ngModel name="niveau" class="form-control">
                                          <option value="1">Bac</option>
                                          <option value="2">Bac+2</option>
                                          <option value="3">Bac+3</option>
                                          <option value="4">Bac+5</option>
                                        
                                        </select>
                                      </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Votre Domaine</label>
                                <div class="col-md-6">
                                    <div class="form-group">
                                    
                                        <select ngModel name="domaine" class="form-control">
                                          <option value="aaaa">Informatique et réseaux</option>
                                          <option value="bbbb"> Industrie</option>
                                          <option value="cccc">Automatismes</option>
                                          <option value="dddd">Management et finances</option>
                                        </select>
                                      </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label style="margin-left: 220px;"><strong>Motivation</strong> </label>
                                <textarea ngModel  class="form-control counted" name="message" placeholder="ecrire votre message ici" rows="5"></textarea>
                            </div>


                         

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Envoyer
                                </button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
  

</main>