<h2>Modification d'un nouveau Hackathone</h2>
<p>une pretite discription</p>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
          <div class="col-50">
            <h3>Les informations sur le hackaton </h3>
            <label for="fname"><i class="fa fa-user"></i> intitule</label>
            <input [(ngModel)]="tab.intitule" type="text" id="fname" name="intitule" placeholder="intitule" >
            <label  for="email"><i class="fa fa-envelope"></i> Description</label>
            <input [(ngModel)]="tab.description" ngModel type="text" id="email" name="Description" placeholder="Description"  >
            <label  for="adr"><i class="fa fa-address-card-o"></i> theme</label>
            <input [(ngModel)]="tab.theme" type="text" id="adr" name="theme" placeholder="theme" >
            <label for="city"><i class="fa fa-institution"></i> Capacite</label>
            <input [(ngModel)]="tab.capacite" type="text" id="city" name="Capacite" placeholder="Capacite" >

            <div class="row">
              <div class="col-50">
                <label for="state">Date debut</label>
                <input [(ngModel)]="tab.date_debut" type="date" id="state" name="Datedebut" placeholder="Date debut" >
              </div>
              <div class="col-50">
                <label for="zip">Date Fin</label>
                <input [(ngModel)]="tab.date_fin" type="date" id="zip" name="DateFin" placeholder="Date Fin">
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>Les informations sur le lieu</h3>
            
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Ville</label>
            <input [(ngModel)]="tab.ville"  type="text" id="cname" name="Ville" placeholder="Ville"  >
            <label for="ccnum">Etablisement</label>
            <input  [(ngModel)]="tab.etablisement" type="text" id="ccnum" name="Etablisement" placeholder="Etablisement" >
            <label for="expmonth">address</label>
            <input [(ngModel)]="tab.address" type="text" id="expmonth" name="address" placeholder="address">
            
          </div>
          
        </div>
                <input type="submit" value="Enregistrer" class="btn">
      </form>
    </div>
   
  </div>

</div>