
   <div>
        <div class="modal-header">
          <h4 class="modal-title">vous etes sur???</h4>
        </div>
        <div class="modal-body">
          <p>voulez vous vraiment supprimer le hackaton ?</p>
          <div class="row">
              <div class="col-12-xs text-center">
                  <button (click)="Yes()" class="btn btn-success btn-md">Yes</button>
                  <button (click)="No()" class="btn btn-danger btn-md">No</button>
              </div>
          </div>
        </div>
    </div>
  
  