<div class="all">
<h2>Creation hackaton</h2>
<p>Une decription</p>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
          <div class="col-50">
            <h3>Les informations des hackatons </h3>
            <label for="fname"><i class="fa fa-user"></i> Intitule</label>
            <input ngModel type="text" id="fname" name="intitule" placeholder="intitule">
            <label for="email"><i class="fa fa-envelope"></i> Description</label>
            <input ngModel type="text" id="email" name="Description" placeholder="Description">
            <label  for="adr"><i class="fa fa-address-card-o"></i> Theme</label>
            <input ngModel type="text" id="adr" name="theme" placeholder="theme">
            <label for="city"><i class="fa fa-institution"></i> Capacite</label>
            <input ngModel type="text" id="city" name="Capacite" placeholder="Capacite">

            <div class="row">
              <div class="col-50">
                <label for="state">Date debut</label>
                <input ngModel type="date" id="state" name="Datedebut" placeholder="Date debut">
              </div>
              <div class="col-50">
                <label for="zip">Date Fin</label>
                <input ngModel type="date" id="zip" name="DateFin" placeholder="Date Fin">
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>Les informations sur le lieu</h3>
            <label for="fname">name</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Ville</label>
            <input ngModel type="text" id="cname" name="Ville" placeholder="Villse">
            <label for="ccnum">Etablisement</label>
            <input ngModel type="text" id="ccnum" name="Etablisement" placeholder="Etablisement">
            <label for="expmonth">addresse</label>
            <input ngModel type="text"  name="address" placeholder="address">
            <label for="expmonth">le nombre des équipes</label>
            <input ngModel type="text"  name="nbrequipe" placeholder="nbrequipe">
            
          </div>
          
        </div>
                <input type="submit" value="Enregistrer" class="btn">
      </form>
    </div>
   
  </div>

</div>
</div>